.homeAbout
  display flex
  
  &-info
  &-image
    padding 6rem 4rem
    width 50%
    
  &-info
    text-align center
    background-color $blue
    
    & .subtitle
      @extend $text-white

  &-image
    background url('/img/homeAbout.jpg') center no-repeat
    background-size cover
    
.homeServices
  wrapped()
  clear fix
  padding-top 4rem
  padding-bottom 4rem
  
  & .title
    margin-bottom 4rem
    text-align center

.services
  clear fix
  margin 0
  padding 0
  list-style none
    
.services-item
  lost-column 1/3 3 no-flex
  display flex
  margin-bottom 2.5rem
  align-items center
  font-size 1.25rem
  color $grey
  
  & img
    margin-right 1rem
    width 40px
    
.homeQuote
.homeCareers
  padding-top 6rem
  padding-bottom 6rem
  background url('/img/homeQuote.jpg') center no-repeat
  background-size cover
  color white
  text-align center
  
  & .subtitle
    @extend $text-white
  
.homeCareers
  background url('/img/homeCareers.jpg') center no-repeat
  background-size cover
  
