// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center


// ======================================================//
// Normal content / p
// ======================================================//
.text
  color $frisa__grey
  line-height 1.75


// ======================================================//
// Titles
// ======================================================//
.title
  color $frisa__grey
  font-size 2rem
  line-height 1.125
  font-weight 400
