// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center


// ======================================================//
// Normal content / p
// ======================================================//
.text
  color $frisa__grey
  line-height 1.75


// ======================================================//
// Titles
// ======================================================//
.title
  margin-top 0
  margin-bottom 1.5rem
  color $grey
  font-size 2rem
  line-height 1.125
  font-weight 400
  
  &__white
    color white

  &__orange
    color $orange

.subtitle
  font-size 1.25rem
  margin-top 0
  line-height 1.5