.btn
  border-radius 4px
  text-align center
  text-decoration none
  
  &--small
    font-size .75em
    padding .5em
    font-weight 600
    
  &--red
    background-color $frisa__dark-red

  &--white
    color $frisa__dark-red
    background-color white
    
  &--lang
    color white
    margin-left 1.5rem
    background-color $frisa__dark-red