.btn
$btn
  display inline-block
  margin 0
  text-align center
  text-decoration none
  font-size .75rem
  padding .25rem .5rem
  border 1px solid white
  border-radius 50px
  color white
  transition 300ms all ease-in-out
  
  &:hover
    background-color white
    color $blue

.btn__lang
.btn__send
  @extend $btn
  background-color $lightBlue
  color white
  
.btn__lang
.btn__send
  &:hover
    color white
    background-color $blue

.btn__send
  font-size 1rem
  padding .25rem 1.5rem