footer
  lost-utility edit
  padding-top 2rem
  padding-bottom 2rem
  background-color $grey
  border-bottom 4px solid $orange
  color $lightGrey
  font-size 14px
  
  & > div
    wrapped()
    display flex
    
    +below($desktop)
      wrapped(90%)
      text-align center

.footerLinks
  align-items baseline
  margin-bottom 2rem
  
  +below($desktop)
    flex-direction column
    align-items center
  
.followUs
  
  &-item
    display inline-block
    margin-right .5rem
    max-width 26px
    
    img
      width 100%

.direction
  margin-bottom 3rem
    
.legals
  border-top 1px solid $lightGrey
  padding-top 2rem
  
  +below($tablet)
    flex-direction column
    
.tagline
.followUs
  font-weight 600

+above($tablet)
  .rights
  .tagline
  .direction
    lost-offset -2/12
  
  .rights
    lost-column 5/12 flex
    
  .tagline
    lost-column 3/12 flex
