footer
  clear fix
  padding-top 2rem
  padding-bottom 2rem
  background-color $frisa__dark-grey
  color white
  
  p
    margin-top 0
  
.container
  wrapped(920px)
  clear fix
  
  +below(600px)
    wrapped(90%)
    text-align center
    
.social
.footerLinks
  lost-column 2/10 0
  
  +below(600px)
    lost-column 1 0
    margin-bottom 2rem  
  
.contactInfo
  lost-column 6/10 0
  
  +below(600px)
    lost-column 1 0
  
.social
  a
    text-decoration none
    
  &-icon
    display inline-block
    
.contactInfo
  span
    display inline-block
    margin-right 1rem
    margin-bottom .5rem
    font-size 14px
    
.footerLinks
  a
    display inline-block
    margin-bottom 1rem
    color white
    text-decoration none
    font-weight 600
    font-size 14px
    
  +below(600px)
   display none

.legals
  margin-top 2rem
  padding-top 2rem
  border-top 1px solid $frisa__grey
  text-align center
  
  &-item
    font-size .75rem
    display inline-block
    color white
    text-decoration none
    margin 0 .5rem

.separator
  display inline-block
  width 1px
  height .75rem
  background-color white