.mainLogo
  float left

.mainLogo
.efrisaLogo
  display block
  width 76px
  
  img
    display block
    width 100%
    
.logoFooter
  display block
  margin-bottom 2rem
  max-width 100px
  
  img
    width 100%
    
  +below(900px)
    margin-right auto
    margin-left auto
