.mainHeader
  width 100%
  border-top 3px solid $frisa__grey
  background-color rgba($frisa__red, .9)
  lost-utility clearfix
  wrapped()
  
  &--body
    position fixed
  
  +below(1120px)  
    wrapped(95%)