.mainSlider
  clear fix
  background-color tomato
  
.slide
  display flex
  align-items center
  height 80vh

  &-title
    color white
    font-size 3rem
    
.slide-container
  wrapped(900px)

.slide_01
  background url('/img/slide_01.jpg') center no-repeat
  background-size cover