.mainNav
  display flex
  align-items center
    
  &-item
    text-decoration none
    color $grey
    margin-left 1.5rem
    
    &:first-child
      margin-left 0
  
  & .lang
    margin-left 260px
    background-color $lightBlue
    color white