.sectionHeader
  wrapped()
  display flex
  margin-top 90px
  max-height 400px
  height 45vh
  align-items center
  color white
  
  +below($desktop)
    wrapped(90%)
  
  &-title
    font-weight 400
    font-size responsive 2.5rem 3rem

.headerAbout
  background url('/img/header-about.jpg') center no-repeat
  background-size cover

.headerMarkets
  background url('/img/header-markets.jpg') center no-repeat
  background-size cover

.headerServices
  background url('/img/header-services.jpg') center no-repeat
  background-size cover
  
.headerContact
  background url('/img/header-contact.jpg') center no-repeat
  background-size cover
  
.headerCareers
  background url('/img/header-careers.jpg') center no-repeat
  background-size cover
  
 .headerQuote
  background url('/img/header-quote.jpg') center no-repeat
  background-size cover 