.sectionHeader
  wrapped()
  display flex
  margin-top 90px
  max-height 400px
  height 45vh
  align-items center
  color white
  
  +below($desktop)
    wrapped(90%)
  
  &-title
    font-weight 400
    font-size 3rem

.headerSomos
  background url('/img/header-somos.jpg') center no-repeat
  background-size cover

.headerMercados
  background url('/img/header-mercados.jpg') center no-repeat
  background-size cover

.headerServicios
  background url('/img/header-servicios.jpg') center no-repeat
  background-size cover
  
.headerContacto
  background url('/img/header-contacto.jpg') center no-repeat
  background-size cover